<section>
  <iframe
    src='https://yandex.ru/map-widget/v1/?um=constructor%3Af18e88ebe50ea95bdf22662d020279c8dd3caeaccbf16d164ff6efc6d0c0063d&source=constructor&scroll=false'
    width='100%'
    height='400'
    frameborder='0'
  >
  </iframe>
</section>
