---
import ProductPageLayout from "../../../layouts/ProductPageLayout.astro";
import { getEntry } from "astro:content";
import catalogData from "../../../data/catalog/vozduhovody.json";

export async function getStaticPaths() {
  return catalogData.products.map((product) => ({
    params: {
      parent: catalogData.slug,
      slug: product.slug,
    },
    props: { product },
  }));
}

const { slug } = Astro.params;
const { product } = Astro.props;

const entry = await getEntry("products", slug);
const { Content } = entry ? await entry.render() : { Content: null };
---

<ProductPageLayout>
  <section class='content-wrapper'>
    <h1>{product.title}</h1>
    {Content ? <Content /> : <p>Описание скоро появится...</p>}
  </section>
</ProductPageLayout>


<style is:global>
  .content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    color: var(--secondary-color);
  }

  img {
    height: auto;
    width: 500px;
  }

  h1 {
    color: var(--primary-color)
  }
</style>
