---
import Layout from "../../../layouts/Layout.astro";
import { getEntry } from "astro:content";
import vozduhovody from "../../../data/catalog/vozduhovody.json";
import fasadnye_metallokassety from "../../../data/catalog/fasadnye_metallokassety.json";
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
import SectionHeader from "../../../components/SectionHeader.astro";

export async function getStaticPaths() {
  const catalogSources = [vozduhovody, fasadnye_metallokassety];
  return catalogSources.flatMap((catalogData) =>
    catalogData.products.map((product) => ({
      params: {
        parent: catalogData.slug,
        slug: product.slug,
      },
      props: { product, catalogData },
    }))
  );
}

const { parent, slug } = Astro.params;
const { product, catalogData } = Astro.props;

const entry = await getEntry("products", slug);
const { Content } = entry ? await entry.render() : { Content: null };

const breadcrumbs = [
  { title: "Каталог", href: "/catalog" },
  { title: catalogData.title, href: `/catalog/${parent}` },
  { title: product.title },
];
---

<Layout>
  <section class='content-wrapper'>
    <SectionHeader title='Каталог продукции' subtitle='Надежные металлоконструкции для проектов любой сложности' />

    <Breadcrumbs items={breadcrumbs} />

    {Content ? <Content /> : <p>Описание скоро появится...</p>}
  </section>
</Layout>

<style is:global>
  .content-wrapper {
    max-width: 1200px;
    margin: 60px auto;
    color: var(--secondary-color);
  }

  img {
    height: auto;
    width: 500px;
  }

  h1 {
    color: var(--primary-color);
  }
</style>
